*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --f-primary: basic-sans, sans-serif;
  --clr-primary: rgb(61, 61, 61);
  --clr-bg: #e2e2e2;
  --bg-primary: #818cab;
  --space: 1rem;
  --b-radius: 3px;
  --flex: 17em;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

body {
  background: var(--clr-bg);
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #3F5170;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #3F5170;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #3F5170;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #3F5170;
}

.flex {
  display: flex;
  gap: .4em;
}

.iflex {
  display: inline-flex;
  gap: 1em;
}

.fcr {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.sa {
  justify-content: space-around;
}

.row {
  flex-direction: row;
}

.row-rvr {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-rvr {
  flex-direction: column-reverse;
}

.gridish>* {
  flex: 1 1 var(--flex);
}

.even-columns>* {
  flex-basis: 100%;
}

.col {
  width: 250px;
  min-height: 50px;
  height: auto;
  margin: .2em 0;
  background-color: var(--bg-primary);
  border-radius: var(--b-radius);
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-primary);
}